
<div class="main-content">     
    <main>
        <div class="recent-flex">
            <div class="project">
                <div class="card">
                    <div class="card-header ">
                        <h3>All Orders</h3>

                        <div class="">
                            <div class="btn-group">
                                <button 
                                    class="btn btn-secondary dropdown-toggle" 
                                    type="button" 
                                    data-bs-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="false">
                                        Filter {{!-- <span class="las la-arrow-down"></span> --}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Burger</a>
                                    <a class="dropdown-item" href="#">Drink</a>
                                    <a class="dropdown-item" href="#">Side dish</a>
                                </div>
                            </div>
                            <div class="btn-group">
                                <button 
                                    class="btn btn-secondary dropdown-toggle" 
                                    type="button" 
                                    data-bs-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="false">
                                        Sort {{!-- <span class="las la-arrow-down"></span> --}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Date</a>
                                    <a class="dropdown-item" href="#">Price</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table width="100%"> 
                                <thead> 
                                    <tr>    
                                        <td> Customer </td>
                                        <td> Date </td>
                                        <td> Price </td>
                                        <td> Status </td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                   {{#each orders}}
                                    <tr>
                                        <td>{{this.email}}</td>
                                        <td>
                                            {{this.updatedAt}}
                                        </td>
                                        <td>    
                                            {{this.price}}$
                                        </td>
                                        <td>
                                            {{#if this.status}}
                                                Complete
                                            {{else}}
                                                Pending
                                            {{/if}}
                                            
                                        </td>
                                        <td>
                                            <a href="/dashboard-order/{{this._id}}"> Details </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </main>
</div>