
<div class="main-content">
   <main>
      
      <div class="recent-flex">
         <div class="project">
            <form action="/product/{{product._id}}?_method=PUT" method="POST" onsubmit="return error()">
               <label for="name"> Product name </label>
               <input value="{{product.name}}" id="name" name="name" type="text" placeholder="Change from [{{product.name}}] to ..." class="box" required>
               
               <label for="descrition"> Description </label>
               <input value="{{product.description}}" id="description" name="description" type="text" placeholder="Change from [{{product.description}}] to ..." class="box">
               
               <label for="image"> Image </label>
               <input value="{{product.image}}" id="image" name="image" type="text" placeholder="Change from [{{product.image}}] to ..." class="box">
               
               <label for="price"> Price </label>
               <input value="{{product.price}}" id="price" name="price" type="text" placeholder="Change from [{{product.price}}] to ..." class="box" required>
               <p class="error price_error"></p>

               <label for="category"> Category </label>
               <input value="{{product.category}}" id="category" name="category" type="text" placeholder="Change from [{{product.category}}] to ..." class="box">
               
               <label for="inventory"> Inventory number </label>
               <input value="{{product.inventory}}" id="inventory" name="inventory" type="text" placeholder="Change from [{{product.inventory}}] to ..." class="box">
               <p class="error inventory_error"></p>

               <button type="submit" class="btn">Update</button>
            </form>
         </div>
      </div>

      <img src="{{product.image}}" alt="">
   </main>
</div>

<script>
   function error(){
      var price = document.getElementById('price').value;
      var inventory = document.getElementById('inventory').value;

      if (price < 0) {
         document.getElementsByClassName('price_error')[0].innerHTML = 'Price must be greater than 0';
         return false;
      }

      if (isNaN(price)) {
         document.getElementsByClassName('price_error')[0].innerHTML = 'Price must be a number';
         return false;
      }
      if (inventory < 0) {
         document.getElementsByClassName('inventory_error')[0].innerHTML = 'Inventory must be greater than 0';
         return false;
      }

      if (isNaN(inventory)) {
         document.getElementsByClassName('inventory_error')[0].innerHTML = 'Inventory must be a number';
         return false;
      }
      
   }
</script>