
<div class="main-content">
   <main>
      
      <div class="recent-flex">
         <div class="project">
            <form action="/product/{{product._id}}?_method=PUT" method="POST">
               <input value="{{product.name}}" id="name" name="name" type="text" placeholder="Change from [{{product.name}}] to ..." class="box">
               <input value="{{product.description}}" id="description" name="description" type="text" placeholder="Change from [{{product.description}}] to ..." class="box">
               <input value="{{product.image}}" id="image" name="image" type="text" placeholder="Change from [{{product.image}}] to ..." class="box">
               <input value="{{product.price}}" id="price" name="price" type="text" placeholder="Change from [{{product.price}}] to ..." class="box">
               <button type="submit" class="btn">Update</button>
            </form>
         </div>
      </div>

      <img src="/{{product.image}}" alt="">
   </main>
</div>