<div class="main-content">
    <main>
        <div class="profile">
            <img src="{{profile.image}}" alt="{{profile.name}}" style="width:100%">
            <h1>{{profile.name}}</h1>
            <p>{{profile.birth}}</p>
            <p>{{profile.gender}}</p>
            <p>{{profile.phone}}</p>
            <p>{{profile.address}}</p>
            <button onclick="location.href='/profile/update-profile'">Edit</button>
            <button onclick="location.href='/profile/change-password'">Change password</button>
        </div>
    </main>
</div>