
<div class="main-content">
    <main>
        <div class="cards">
            <div class="card-single">
                <div>
                    <h1>{{count_profile}}</h1>
                    <span>Customers</span>
                </div>
                <div>
                    <span class="las la-users"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>{{count_order}}</h1>
                    <span>Orders</span>
                </div>
                <div>
                    <span class="las la-shopping-bag"></span>
                </div>
            </div>

            {{!-- <div class="card-single">
                <div>
                    <h1>54</h1>
                    <span>Contact Customers</span>
                </div>
                <div>
                    <span  class="lar la-envelope"></span>
                </div>
            </div> --}}

            {{!-- <div class="card-single">
                <div>
                    <h1>$14</h1>
                    <span>Income</span>
                </div>
                <div>
                    <span class="las la-wallet"></span>
                </div>
            </div> --}}
            
        </div>

        <div class="recent-flex">
            <div class="project">
                <div class="card">
                    <div class="card-header ">
                        <h3>Recent Orders</h3>
                        {{#if user}}
                            
                        {{else}}
                            <p>Log in to see details</p>
                        {{/if}}
                        {{!-- <button> See All <span class="las la-arrow-right"></span></button> --}}
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table width="100%"> 
                                <thead> 
                                    <tr>    
                                        <td> Customer </td>
                                        <td> Date </td>
                                        <td> Price </td>
                                        <td> Status </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#if user}}
                                        {{#each orders}}
                                        <tr>
                                            <td>{{this.email}}</td>
                                            <td>{{this.createdAt}}</td>
                                            <td>    
                                                {{this.price}}$
                                            </td>
                                            <td>{{this.status}}</td>
                                        </tr>
                                        {{/each}}
                                    {{else}}
                                        <tr>
                                            <td> Customer </td>
                                            <td> Date </td>
                                            <td>    
                                                Price$
                                            </td>
                                            <td> Status </td>
                                        </tr>
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="card">
                    <div class="card-header ">
                        <h3>New Customers </h3>
                        {{#if user}}
                            
                        {{else}}
                            <p>Log in to see details</p>
                        {{/if}}
                        {{!-- <button> See All <span class="las la-arrow-right"></span></button> --}}
                    </div>
                    <div class="card-body">
                        {{#if user}}
                            {{#each profiles}}
                            <div class="customers"> 
                                <div class="info">
                                    <img src="{{this.image}}",width ="40px"
                                    height="40px" alt="">
                                    <div>
                                        <h4> {{this.name}} </h4>
                                        <small> New Customers </small>
                                    </div>
                                </div>
                                <div class="contact">
                                    <span class="las la-user-circle"></span>
                                    <span class="las la-comment"></span>
                                    <span class="las la-phone"></span>

                                </div>
                            </div>
                            {{/each}}
                        {{else}}
                            <div class="customers"> 
                                <div class="info">
                                    <img src="/images/customer.jpg",width ="40px"
                                    height="40px" alt="">
                                    <div>
                                        <h4> Bean </h4>
                                        <small> New Customers </small>
                                    </div>
                                </div>
                                <div class="contact">
                                    <span class="las la-user-circle"></span>
                                    <span class="las la-comment"></span>
                                    <span class="las la-phone"></span>

                                </div>
                            </div>
                        {{/if}}
                       
                        </div>
                    </div>     
                </div>
            </div>
        </div>
    </main>
</div>